body{
    background-color: whitesmoke;
}

p{
    color:black;
    font-size: 22px;
    padding-left: 15px;
    padding-top: 15px;
}
strong{
    color: deeppink;
    font-size: 25px;

}

    table{
    width:100%;
    padding-bottom: 10px;
    
    
   
}
caption{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    
}

h2{
text-align: center;
color: darkorange;
font-size: 40px;
padding-top: 15px;
}


th{
   text-align:center; 
}
table,th,td{
border: 2px solid black;
border-collapse: collapse;

}
th,td{
   padding: 10px;
   text-align: center; 
 }
 tr:nth-child(even){
    background-color:lightpink;
 }
 tr:nth-child(odd){
    background-color:deepskyblue;
 }
 caption{
    border: 1px solid greenyellow;
    border: 3px;
    width: 600px;
    text-align:center; 
 }

 #picture img{
    text-align: right;
    
    
 }

 #Photo{
    border: 2px solid purple;
    margin-bottom: 2rem;
    background-color: lightgray;
 }

 #Photo img{
    max-width: 60%;
    height: 105px;
 }
 #Photo figure{
    text-align: right;
    display: flex;
   

 }
 figcaption{
    display:flex;
     justify-content: center; 
     align-items: center;
     font-size: 3rem;
     margin-left: 1rem;
     color:purple;
     padding: 40px;
     font-family:'Courier New', Courier, monospace;
 }
 footer{
    background-color:lightgray;
    color:purple;
    border: 4px  solid;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    
 }
 
 